/* General Styling */
html {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background-color:  #110c11; 
  

}

a, img, #logo, .header, .nav, .nav a, #footer, #intro, #intro p, #intro a, #wrapper, #gallery, #gallery li, #about, #profilePhoto, #contact, #contact a, #overlay, #overlay img, #overlay p{
  transition-duration:1000ms;
}


ul, li{
  list-style: none;
}

body {
background-image: url('background.jpg');
 background-color:  #110c11; 
}

/* beginning */

/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color:  #262626 ;
  padding: 10px 10px;
}

/* Style the header links */
.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active/current link*/
.header a.active {
  background-color: dodgerblue;
  color: white;
}

/* Float the link section to the right */
.header-right {
  float: right;

}

.clearfix {
   overflow: auto;
   clear: both;
} 


.image {
   border-radius: 50%;  
   padding: 80px 0px 20px;
  
   
  }

.about{ 
  /*display: flex;
  justify-content: center;*/
  color: white; 
  /*float: right;*/
  font-size: 40px;
  padding: 10px 0px 0px 0px;
  margin-top: 100px;
  font-family: 'Noto Sans JP', sans-serif;
 
}

.text{
  /*display: flex;
  justify-content: center;*/
  color: white; 
   font-size: 30px;
  /*padding: 100px 0px 80px 80px;*/
  /*margin-top: 90px;*/
  font-family: 'Noto Sans JP', sans-serif;
  font-style: italic;

}
/*p{ font-size: 20px;
  font-family:font-family: 'Noto Sans JP', sans-serif;
  color: white;
}
.center{
  overflow: auto;
}*/

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #F9F9F3;
  color: white;
  text-align: center;
  }

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:  #110c11;
  color: white;
  text-align: center;  
}

.foot{
display: inline-flex;
font-size: 30px;  
cursor: pointer;
margin-bottom: -20px;
  margin-left: -50px;
}


.foot a {
  padding: 10px;
  
}








/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a , footer{
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
